<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="navbar-brand" href="/booklist">The BOOKstore</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <div class="navbar-nav">

          <a class="btn btn-outline-success" aria-current="page" routerLink="/customerhome">Home</a>
          <a class="btn btn-outline-success" aria-current="page" routerLink="/customerhome">Profile</a>
          <a class="btn btn-outline-success" routerLink="/booklist">Booklist</a>
          <a class="btn btn-outline-success" href="" (click)="logoutUser()" aria-disabled="true">Logout</a>

        </div>
      </div>
    </div>
  </nav>

  
<router-outlet></router-outlet>

