@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


.logo {
    font-family: 'Fredericka the Great', cursive;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
}