<app-employeenav></app-employeenav>

<div class="container p-5">
<table class="table table-light table-striped">
    <thead>
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Total Cost</th>
            <th scope="col">IsApproved</th>
            <th scope="col">Date</th> 
            <th scope="col">Customer</th> 
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of ordersList">
            <td>{{order.orderId}}</td>
            <td>{{order.totalCost}}</td>
            <td>{{order.isapproved}}</td>
            <td>{{order.date}}</td>
            <td>{{order.bookuser.userName}}</td> 
           
            <td><button class="btn btn-info" (click)="openModalOrder(order)">Approve</button></td>
        </tr>
    </tbody>
  </table>

  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
             <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title">Approve Order</h4>
                         <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                        </div>
               <div class="modal-body">
                 <form [formGroup] = "approveGroup">
                <input class="form-control" type="text" [(ngModel)]="orderToApprove.orderId" formControlName="orderId" readonly>
                
                <button class="btn btn-info" (click)=approveOrder()>Approve</button>
              </form>
                 <div>
                 </div>
                 </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                   </div>
           </div>
     </div>  
<div>
<div>
</div>

</div>

