<div class="card-container">
  <div class="card">
    <h2 class="logo">Book Central <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
      <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg></h2>
        <h4 class="card-title pt-3">Hello Again!</h4>
        <p><small class="card-subtitle">Enter your credentials and get access</small></p>
        <form name="my-form" #loginForm="ngForm" (ngSubmit)="loginUser()">
            <div class="card-input-container username">
               <input type="text" placeholder="Enter your username" id="username" class="form-control" name="userName" aria-describedby="emailHelp" [(ngModel)]="user.userName" required #userName="ngModel"
                  [class.is-invalid]="userName.invalid && userName.touched"
                  >
                  <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username cannot be empty</small>
            </div>
            <div class="card-input-container password">
                <input type="password" class="form-control" placeholder="Enter your password" id="password" name="passWord" [(ngModel)]="user.passWord" required #passWord="ngModel"
                  [class.is-invalid]="passWord.invalid && passWord.touched"
                  >
                  <small class="text-danger" [class.d-none]="passWord.valid || passWord.untouched">Password cannot be empty</small>
            </div>
                <small class="text-danger">
                    {{msg}}
                </small>
            <button [disabled]="loginForm.form.invalid" type="submit" class="card-button">Sign In</button>
           <p><small class="card-forgot-password">Forgot your password ? <a [routerLink] = "['/enteremail']">Reset Password</a></small></p> 
           <p><small class="card-forgot-password">Don't have an account? <a [routerLink]="['/registration']">Register here</a></small></p> 
        </form>
    </div>
</div>
