@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


.section-header {
    font-family: 'Fredericka the Great', cursive;
}

p {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.background {
    background: linear-gradient(
        rgba(59, 255, 213, 0.452), 
        rgba(181, 67, 226, 0.45)
      ),url(../../assets/books.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-container {

  height: 100vh;
  width: 100vw;
  display: grid;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  place-items: center;
}

a {
  text-decoration: none;
  color: #000;
}


.card {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  width: 100%;
  max-width: 400px;
  padding: 1em;
  border-radius: 20px;
 
}

.card-title {
 
  color: #565656;
  align-items: center;
}

.card-subtitle {
  color: #565656;
}

.table-container {
    height: 500px;
    overflow: auto;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a0ffef;
}