<div class="card-container">
  <div class="card">

             <form action="#!">
  
      <div class="md-form md-outline">
        <input type="password" id="newPass" class="form-control">
        <label data-error="wrong" data-success="right" for="newPass">New password</label>
      </div>
  
      <div class="md-form md-outline">
        <input type="password" id="newPassConfirm" class="form-control">
        <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
      </div>
  
      <button type="submit" class="btn btn-dark mb-4">Change password</button>
  
    </form>
  
    <div class="d-flex justify-content-between align-items-center mb-2">
 
      <button class="btn btn-outline-info"><a routerLink="/login">Back to Log In</a></button>

      <button class="btn btn-outline-info"><a routerLink="/registration">Register</a></button>
    </div>
    </div>
</div>

