<div class="card-container">
  <div class="card">

    <form (ngSubmit)="resetPassword()" >
      <div>
    <p>
        <input type=password name="p1" id="password" class="form-control" [(ngModel)]="password" #passWord="ngModel"
            placeholder="Enter your new password" required autofocus />
    </p>         
    <!-- <p>
        <input type=password name="p2" class="form-control"  placeholder="Confirm your new password"   />
    </p>  -->
            
    <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </p>
    {{message}}
</div>

</form>
    <div class="d-flex justify-content-between align-items-center mb-2">
 
      <button class="btn btn-outline-info"><a routerLink="/login">Back to Log In</a></button>

      <button class="btn btn-outline-info"><a routerLink="/registration">Register</a></button>
    </div>
    </div>
</div>

