<app-employeenav></app-employeenav>

<div class="p-5 mt-5 background">
  <div class="row pt-5 mt-5">
    <div class="col-md-6 table-container">
      <table class="table">
        <thead class="">
          <tr>
          
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.quantity}}</td>
            <td>{{book.cost}}</td>
            <td *ngIf="book.image"><img src={{book.image}}/></td>
            <td *ngIf="!book.image"><span (click)="openImageModal(book)" class="badge badge-pill badge-dark">Upload</span></td>
            <td>
              <span type="button" class="badge badge-pill badge-warning" (click)="openEditModal(book)">Edit</span>
              <span type="button" class="badge badge-pill badge-danger">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="col-md-6 pl-3 form-container">
      <h4 class="text-center">View Book Details/Add Book</h4>

      <form [formGroup] = "bookGroup" class="p-3">
        <!--<div class="form-group">
          <label for="exampleInputEmail1">Id</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="bookId">
        </div>-->
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Author</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="author">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Genre</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="genre">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Cost</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="cost">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Quantity</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="quantity">
        </div>

        <button type="submit" class="btn btn-primary" (click) = "submitBook(bookGroup)">Submit</button>
      </form>

    </div>

        <!--image modal-->
        <div class="modal imageModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display1}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Add Image</h4>
              </div>
              <div class="modal-body">
              <form [formGroup] = "imageGroup">
                <input class="form-control" type="text" [(ngModel)]="bookToAddImage.title" formControlName="title" readonly>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <div class="form-group pt-3">
                      <input class="form-control-file" type="file" (change)="upload($event)"  formControlName="file" [(ngModel)]="bookToAddImage.image">
                    </div>
                  </div>
                  <div class="input-group-append pt-3">
                    <button class="input-group-text"  (click)="uploadImage()">Upload</button>
                  </div>
                </div>
    
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeImageModal()" >Close</button>
              </div>
              </div>
          </div>
      </div>
    </div>

     
    <!--Edit Modal-->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
     <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Book</h4>
                          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                  <form [formGroup] = "updateGroup" (ngSubmit)="updateBook()" class="p-3">
                    <!--<div class="form-group">
                      <label for="exampleInputEmail1">Id</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="bookId">
                    </div>-->
            
                    <div class="form-group">
                      <label for="exampleInputEmail1">Title</label>
                      <input type="text" class="form-control" [(ngModel)]="bookToUpdate.title" id="title" aria-describedby="emailHelp" formControlName="title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Author</label>
                      <input type="text" class="form-control"  [(ngModel)]="bookToUpdate.author" id="author" formControlName="author">
                    </div>
            
                    <div class="form-group">
                      <label for="exampleInputPassword1">Genre</label>
                      <input type="text" class="form-control"  [(ngModel)]="bookToUpdate.genre" id="genre" formControlName="genre">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Cost</label>
                      <input type="text" class="form-control"  [(ngModel)]="bookToUpdate.cost" id="cost" formControlName="cost">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Quantity</label>
                      <input type="text" class="form-control"  [(ngModel)]="bookToUpdate.quantity" id="quantity" formControlName="quantity">
                    </div>
                    <button type="submit" class="btn btn-primary" >Submit</button>
                  </form>

                  <div>
                  </div>
                  </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                    </div>
            </div>
      </div>  
    </div>
</div>
</div>


