@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");


.section-header {
    font-family: 'Fredericka the Great', cursive;
}

.background {
    background: linear-gradient(
        rgba(59, 255, 213, 0.7), 
        rgba(181, 67, 226, 0.7)
        ),url(../../assets/books.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 10px;
    border: solid 1px;
}

.table-container {
    padding: 3%;
    background-color: white;
    border-radius: 10%;
    opacity: 85%;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.form-container {
    padding-top: 2%;
    background-color: white;
    border-radius: 10%;
    opacity: 85%;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}