<app-employeenav></app-employeenav>

<h1 class="p-5"> Book Inventory</h1> 



<div class="container row">
    <div class="col-md-6">
      <table class="table">
        <thead class="">
          <tr>
          
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let temp of bookList">
 
            <td>{{temp.title}}</td>
            <td>{{temp.author}}</td>
            <td>{{temp.quantity}}</td>
            <td>{{temp.cost}}</td>
            <td><img src={{temp.image}}/></td>
            <td>
              <button type="button" class="btn btn-primary" >Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 pl-3">
      <h4 class="text-center">View Book Details/Add Book</h4>

      <form [formGroup] = "bookGroup" class="p-3">
        <!--<div class="form-group">
          <label for="exampleInputEmail1">Id</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="bookId">
        </div>-->

        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Author</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="author">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Genre</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="genre">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Cost</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="cost">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Quantity</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="quantity">
        </div>

        <button type="submit" class="btn btn-primary" (click) = "submitBook(bookGroup)">Submit</button>
      <!-- <button type="submit" class="btn btn-primary" (click) = "updateBook(bookGroup)">Update</button> -->
      </form>
    </div>
  </div>

